#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 150px;
  font-family: Helvetica, Arial, sans-serif;
  color: #0a0a0a;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  display: block;
  z-index: 1;
  background: #ece2a5;
  /* Old browsers */

  background: -moz-linear-gradient(bottom, #e3d47b 0%, #ece2a5 50%, #f3edc7 51%, #f2ebc2 78%, #ffffff 100%);
  background: -webkit-linear-gradient(bottom, #e3d47b 0%, #ece2a5 50%, #f3edc7 51%, #f2ebc2 78%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e3d47b 0%, #ece2a5 50%, #f3edc7 51%, #f2ebc2 78%, #ffffff 100%);
  background: -ms-linear-gradient(bottom, #e3d47b 0%, #ece2a5 50%, #f3edc7 51%, #f2ebc2 78%, #ffffff 100%);
  background: linear-gradient(to top, #e3d47b 0%, #ece2a5 50%, #f3edc7 51%, #f2ebc2 78%, #ffffff 100%);
}
#cssmenu ul li::after {
  content: '';
  width: 100%;
  height: 8px;
  position: absolute;
  border-top-left-radius: 50% 4px;
  border-top-right-radius: 50% 4px;
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #ece2a5 61%, #ece2a5 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #ece2a5 61%, #ece2a5 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #ece2a5 61%, #ece2a5 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #ece2a5 61%, #ece2a5 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  bottom: 10px;
}
#cssmenu ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #0a0a0a;
  z-index: 3;
}
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #ffffff;
}
#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: 036fab;

}
#cssmenu ul li:hover::after,
#cssmenu ul li.active::after {
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0036fa 61%, #0036fa 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0036fa 61%, #0036fa 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0036fa 61%, #0036fa 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, #0036fa 61%, #0036fa 100%);
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

#cssmenu > ul > li.has-sub > a:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #ffffff;
}

.menu2:hover {
    font-size: 16px;
    display: block;
    color: #0A7920;
    text-shadow: 0 1px 1px #000;
    background: #ece3a5;
    background: -moz-linear-gradient(#ece3a5 0%, #ece3a5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #686868), color-stop(100%, #464646));
    background: -webkit-linear-gradient(#ece3a5 0%, #ece3a5 100%);
    background: linear-gradient(#ece3a5 0%, #ece3a5 100%);
}
